@using Aguacongas.TheIdServer.Blazor.Oidc
@inject OidcAuthenticationStateProvider _provider;
@inject Notifier _notifier;

@inherits LayoutComponentBase

<div class="sidebar bg-light">
    <NavMenu />
</div>

<div class="main bg-light mb-2">
    <div class="top-row px-4">
        <a href="#" class="ml-md-auto btn btn-secondary btn-sm dropdown-toggle">en</a>
    </div>

    <div class="content px-4">
        <AuthorizeView Policy="Id4-Reader">
            <Authorized>
                @ShowToast(context.User.Identity.Name)
                @Body
            </Authorized>
            <Authorizing>
                <p>Authentication in progress.</p>
            </Authorizing>
            <NotAuthorized>
                @if (!context.User.Claims.Any(c => c.Type == "Oidc.NotConnected"))
                {
                    <p class="text-alerte">
                        You're not authorize to use this application.
                    </p>
                }
                else
                {
                    <p>You are redirecting to the login page. please wait</p>
                    <span class="text-white">
                        @_provider.LoginAsync()
                    </span>

                }
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
<div class="fixed-bottom bg-light">
    <a class="px-3" href="https://github.com/aguacongas/TheIdServer/blob/master/README.md" target="_blank">About</a>
</div>
@code {
    private bool _notified;
    private string ShowToast(string userName)
    {
        if (!_notified)
        {
            _notifier.Notify(new Notification
            {
                Header = userName,
                Message = "Connected"
            });
            _notified = true;
        }
        return null;
    }

}
<Toaster />
