@inherits LayoutComponentBase
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="#" class="ml-md-auto btn btn-secondary btn-sm dropdown-toggle">en</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
