@inject Notifier _notifier;

@inherits LayoutComponentBase

<div class="sidebar bg-light">
    <NavMenu />
</div>

<div class="main bg-light mb-2">
    <div class="top-row px-4 auth">
        <EntityInfo />
        <LoginDisplay />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
<div class="fixed-bottom bg-light">
    <a class="px-3" href="https://github.com/aguacongas/TheIdServer/blob/master/README.md" target="_blank">About</a>
</div>
<Toaster />
