@inject Notifier _notifier;
@inject IStringLocalizerAsync<MainLayout> Localizer

@inherits LayoutComponentBase

<div class="sidebar bg-light">
    <NavMenu />
</div>

<div class="main bg-light mb-2">
    <div class="top-row px-4 auth">
        <EntityInfo />
        <LoginDisplay />
    </div>
    <div class="content px-4">
        @if (IsClientSide)
        {
            @Body
        }
        else
        {
            <PageLoading Information="Loading..." />
        }
    </div>
</div>
<Toaster />
