@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider  _authenticationStateProvider
@inject Task<Settings> _getSettingsTask
<p>
    Your are not authorized to view this page.
</p>
<p>
    Contact your <a href="mailto:@_administratorEmail">administrator.</a>
</p>
