<div class="row">
    <div class="col">
        <ul class="list-inline">
            @foreach (var client in Clients)
            {
                <li class="list-inline-item">
                    <div class="input-group input-group-sm mb-3">
                        <a class="form-control" href="/client/@client.ClientId">@client.ClientId</a>
                        <div class="input-group-append">
                            <span class="input-group-text oi oi-browser" />
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
