@* 
Project: Aguafrommars/TheIdServer
Copyright (c) 2022 @Olivier Lefebvre
*@
@inject IViewLocalizer Localizer

@if (ViewContext.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <strong>@Localizer["Error"]</strong>
        <div asp-validation-summary="All" class="danger"></div>
    </div>
}