@* 
Project: Aguafrommars/TheIdServer
Copyright (c) 2022 @Olivier Lefebvre
*@
@inject IViewLocalizer Localizer

@model ErrorViewModel

@{
    var error = Model?.Error?.Error != null ? Localizer[Model?.Error?.Error] : null;
    var errorDescription = Model?.Error?.ErrorDescription != null ? Localizer[Model?.Error?.ErrorDescription] : null;
    var request_id = Model?.Error?.RequestId;
}

<div class="error-page">
    <div class="page-header">
        <h1>@Localizer["Error"]</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-danger">
                @Localizer["Sorry, there was an error"]

                @if (error != null)
                {
                    <strong>
                        <em>
                            : @error
                        </em>
                    </strong>

                    if (errorDescription != null)
                    {
                        <div>@errorDescription</div>
                    }
                }
            </div>

            @if (request_id != null)
            {
                <div class="request-id">Request Id: @request_id</div>
            }
        </div>
    </div>
</div>
