version: 1.0.{build}
skip_tags: true
skip_commits:
  message: /chore\(release\)/
branches:
  only:
  - master
  - /^preview\/\d+.\d+.\d+$/ 
  - /^release\/\d+.\d+.\d+$/
image: 
- Visual Studio 2022
environment:
  GITHUB_TOKEN:
    secure: /o9VAhx5ewGmdLR9qcgFJMzBaCuzOmGlsXAHu7khUJLdQzsv4gJzLUfYDghcRPHd
  donetsdk: 10.0.100
  JAVA_HOME: C:\Program Files\Java\jdk19
  PATH: $(JAVA_HOME)\bin;$(PATH)
init:
  - cmd: git config --global core.autocrlf true
install:
  - ps: Install-Product node 23 x64
  - ps: ./Install-MongoDb.ps1
  - ps: .\dotnet-install.ps1 -Version 8.0.20 -Runtime dotnet -Architecture x64 -InstallDir "C:\Program Files\dotnet"
  - ps: .\dotnet-install.ps1 -Version 8.0.20 -Runtime aspnetcore -Architecture x64 -InstallDir "C:\Program Files\dotnet"
  - ps: dotnet tool install --global GitVersion.Tool
  - ps: dotnet tool install --global dotnet-sonarscanner
  - ps: .\dotnet-install.ps1 -Version $env:donetsdk -InstallDir "C:\Program Files\dotnet"
  - ps: dotnet gitversion /l console /output buildserver
  - ps: dotnet workload restore
  - cmd: nuget install ReportGenerator -ExcludeVersion
  - cmd: nuget install redis-64 -excludeversion
  - cmd: redis-64\tools\redis-server.exe --service-install
  - cmd: redis-64\tools\redis-server.exe --service-start
  - ps: ./appveyorinit.ps1
  - ps: dotnet --list-runtimes
build_script:
  - ps: ./build.ps1
test_script:
  - ps: ./publish.ps1
artifacts:
  - path: test/**/*.dmp
    name: dump
  - path: artifacts/**/*.nupkg
    name: nuget
  - path: artifacts/**/*.zip
    name: zip    
deploy:
  - provider: NuGet
    api_key:
      secure: IvRjdQGkzrRwGoVkIOi82WddV/UwEm3t0IIhUkL4Ju3PyPRdDMOgAeHLuSmnPLcM
    on:
      branch: 
      - /^preview\/\d+.\d+.\d+$/
      - /^release\/\d+.\d+.\d+$/
      CI_WINDOWS: true
  - provider: GitHub
    auth_token: $(GH_TOKEN)
    draft: true
    prerelease: true
    release: $(Version)
    artifact: /.*\.zip/
    on:
      branch: 
      - /^preview\/\d+.\d+.\d+$/
      CI_WINDOWS: true
  - provider: GitHub
    auth_token: $(GH_TOKEN)
    draft: true
    release: $(Version)
    artifact: /.*\.zip/
    on:
      branch: 
      - /^release\/\d+.\d+.\d+$/
      CI_WINDOWS: true
for:
-
  branches:
    only:
      - /^release\/\d+.\d+.\d+$/
  on_success:
      - cmd: semantic-release -b %APPVEYOR_REPO_BRANCH%
