version: 1.0.{build}
skip_tags: true
skip_commits:
  message: /^chore(release)/
branches:
  only:
  - master
  - /preview\/*/ 
  - /release\/*/
image: 
- Visual Studio 2019
environment:
  GH_TOKEN: 
    secure: 0NJdORJRFjpB0dwUYv7bVNsbkldkoBhnvWik/CTOwAF/k9kP+/uTWMFnDcpEpt8E
  donetsdk: 3.1.102
  blazorversion: 3.2.0-preview2.20160.5
init:
  - cmd: git config --global core.autocrlf true
install:
  - ps: Install-Product node ''
  - ps: .\dotnet-install.ps1 -Version $env:donetsdk
  - ps: dotnet new -i Microsoft.AspNetCore.Blazor.Templates::$env:blazorversion
  - ps: dotnet tool install --global GitVersion.Tool
  - ps: dotnet gitversion /l console /output buildserver
  - ps: dotnet tool install --global dotnet-sonarscanner
  - cmd: nuget install ReportGenerator -ExcludeVersion
  - ps: ./appveyorinit.ps1
build_script:
  - ps: ./build.ps1
test_script:
  - cmd: publish.cmd
artifacts:
  - path: artifacts/**/*.nupkg
    name: nuget    
deploy:
  - provider: NuGet
    api_key:
      secure: ekb+XOscUcvCNX7OuiGnCBV9/tBYPUWHITowCZ0UEa2+Skep2sL6lJMeDKAtw0/t
    on:
      branch: 
      - /preview\/*/
      - /release\/*/
      CI_WINDOWS: true
  - provider: GitHub
    auth_token: $(GH_TOKEN)
    draft: true
    prerelease: true
    release: $(Version)
    on:
      branch: 
      - /preview\/*/
      CI_WINDOWS: true
  - provider: GitHub
    auth_token: $(GH_TOKEN)
    draft: true
    release: $(Version)
    on:
      branch: 
      - /release\/*/
      CI_WINDOWS: true
for:
-
  branches:
    only:
      - /release\/*/
  on_success:
      - cmd: semantic-release -b %APPVEYOR_REPO_BRANCH%
