<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Default nuget source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/bUnit-dev/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSourceCredentials>
    <github>
        <add key="Username" value="aguacongas" />
        <add key="ClearTextPassword" value="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" />
    </github>
</packageSourceCredentials>
</configuration>
