# Exported from Render on 2025-11-27T09:51:02Z
version: "1"
projects:
- name: TheIdServer
  environments:
  - name: Production
    databases:
    - name: theidserverdb
      databaseName: theidserverdb
      user: theidserverdb_user
      plan: free
      region: frankfurt
      ipAllowList:
      - source: 0.0.0.0/0
        description: everywhere
      postgresMajorVersion: "18"
    services:
    - type: web
      name: TheIdServer
      runtime: docker
      repo: https://github.com/Aguafrommars/TheIdServer
      branch: master
      plan: free
      envVars:
      - key: DB_HOST
        fromDatabase:
          name: theidserverdb
          property: host
      - key: DB_NAME
        fromDatabase:
          name: theidserverdb
          property: database
      - key: DB_USER
        fromDatabase:
          name: theidserverdb
          property: user
      - key: DB_PASSWORD
        fromDatabase:
          name: theidserverdb
          property: password
      - key: DbType
        value: PostgreSQL
      - key: DynamicConfigurationOptions__ProviderType
        value: Microsoft.Extensions.Configuration.Memory.MemoryConfigurationProvider, Microsoft.Extensions.Configuration
      - key: RedisConfigurationOptions__ConnectionString
        value: ""
      - key: Seed
        value: "true"
      - key: Users__0__UserName
        value: Admin
      - key: Users__0__Password
        sync: false
      - key: InitialData__Clients__0__AllowedCorsOrigins__0
        fromService:
          type: web
          name: TheIdServer
          property: host
          prefix: "https://"
      - key: InitialData__Clients__0__ClientUri
        fromService:
          type: web
          name: TheIdServer
          property: host
          prefix: "https://"
          suffix: "/"
      - key: InitialData__Clients__0__PostLogoutRedirectUris__0
        fromService:
          type: web
          name: TheIdServer
          property: host
          prefix: "https://"
          suffix: "/authentication/logout-callback"
      - key: InitialData__Clients__0__RedirectUris__0
        fromService:
          type: web
          name: TheIdServer
          property: host
          prefix: "https://"
          suffix: "/authentication/login-callback"
      - key: ADMIN_EMAIL
        sync: false
      region: frankfurt
      dockerContext: .
      dockerfilePath: src/Aguacongas.TheIdServer.Duende/Dockerfile
      dockerCommand: |
        sh -c "
        export ConnectionStrings__DefaultConnection=\"Host=${DB_HOST};Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD};\"
        export APPSETTINGS_JSON='{\"prerendered\":true,\"administratorEmail\":\"${ADMIN_EMAIL}\",\"apiBaseUrl\":\"'https://'${RENDER_EXTERNAL_URL}'/api\",\"loggingOptions\":{\"minimum\":\"Warning\"},\"authenticationPaths\":{\"remoteRegisterPath\":\"/identity/account/register\",\"remoteProfilePath\":\"/identity/account/manage\"},\"userOptions\":{\"roleClaim\":\"role\"},\"providerOptions\":{\"authority\":\"'https://'${RENDER_EXTERNAL_URL}/\",\"clientId\":\"theidserveradmin\",\"defaultScopes\":[\"openid\",\"profile\",\"theidserveradminapi\"],\"postLogoutRedirectUri\":\"'https://'${RENDER_EXTERNAL_URL}/authentication/logout-callback\",\"redirectUri\":\"'https://'${RENDER_EXTERNAL_URL}/authentication/login-callback\",\"responseType\":\"code\"},\"welcomeContenUrl\":\"'https://'${RENDER_EXTERNAL_URL}/api/welcomefragment\",\"settingsOptions\":{\"typeName\":\"Aguacongas.TheIdServer.BlazorApp.Models.ServerConfig, Aguacongas.TheIdServer.BlazorApp.Infrastructure\",\"apiUrl\":\"'https://'${RENDER_EXTERNAL_URL}/api/configuration\"},\"menuOptions\":{\"showSettings\":true},\"serverSideSessionEnabled\":true,\"cibaEnabled\":true}'
        echo \"$APPSETTINGS_JSON\" > /app/wwwroot/appsettings.json
        dotnet Aguacongas.TheIdServer.Duende.dll
        "
      autoDeployTrigger: commit
