# Exported from Render on 2025-11-27T09:51:02Z
version: "1"
projects:
- name: TheIdServer
  environments:
  - name: Production
    services:
    - type: web
      name: TheIdServer
      runtime: docker
      repo: https://github.com/Aguafrommars/TheIdServer
      branch: master
      plan: free
      envVars:
      - key: DbType
        value: InMemory
      - key: DynamicConfigurationOptions__ProviderType
        value: Microsoft.Extensions.Configuration.Memory.MemoryConfigurationProvider, Microsoft.Extensions.Configuration
      - key: RedisConfigurationOptions__ConnectionString
        value: ""
      - key: Seed
        value: "true"
      - key: Users__0__UserName
        value: Admin
      - key: Users__0__Password
        sync: false
      - key: InitialData__Clients__0__AllowedCorsOrigins__0
        fromService:
          type: web
          name: TheIdServer
          property: host
          prefix: "https://"
      - key: InitialData__Clients__0__ClientUri
        fromService:
          type: web
          name: TheIdServer
          property: host
          prefix: "https://"
          suffix: "/"
      - key: InitialData__Clients__0__PostLogoutRedirectUris__0
        fromService:
          type: web
          name: TheIdServer
          property: host
          prefix: "https://"
          suffix: "/authentication/logout-callback"
      - key: InitialData__Clients__0__RedirectUris__0
        fromService:
          type: web
          name: TheIdServer
          property: host
          prefix: "https://"
          suffix: "/authentication/login-callback"
      region: frankfurt
      dockerContext: .
      dockerfilePath: src/Aguacongas.TheIdServer.Duende/Dockerfile
      autoDeployTrigger: commit
