@inherits InputTextArea
<AuthorizeView Policy="Is4-Writer">
    <Authorized>
        <InputTextArea class="form-control" ValueExpression="ValueExpression" Value="@Value" ValueChanged="ValueChanged" />
    </Authorized>
    <NotAuthorized>
        <div class="col-form-label">
            @Value
        </div>
    </NotAuthorized>
</AuthorizeView>
