@inherits InputText
<AuthorizeView Policy="Is4-Writer">
    <Authorized>
        <InputText name="@Name" class="form-control" placeholder="@Placeholder"
                   ValueExpression="ValueExpression" Value="@Value" ValueChanged="ValueChanged" />
    </Authorized>
    <NotAuthorized>
        <div name="@Name" class="col-form-label">
            @Value
        </div>
    </NotAuthorized>
</AuthorizeView>
