@* 
Project: Aguafrommars/TheIdServer
Copyright (c) 2021 @Olivier Lefebvre
*@
@inject IViewLocalizer Localizer

@model string

<div class="page-header">
    <h1>
        @Localizer["User Code"]
    </h1>
    <p>
        @Localizer["Please enter the code displayed on your device"]
    </p>
    <form asp-action="UserCodeCapture" method="post">
        <input for="userCode" name="userCode" />
        <button class="btn btn-primary">@Localizer["Submit"]</button>
    </form>
</div>