@* 
Project: Aguafrommars/TheIdServer
Copyright (c) 2021 @Olivier Lefebvre
*@
@inject IViewLocalizer Localizer

<div class="page-header">
    <h1>
        @Localizer["Success"]
        <small>@Localizer["You have successfully authorized the device"]</small>
    </h1>
</div>