@typeparam T
@inherits EntityResourcesComponentBase<T>

@foreach (var resource in Collection.Where(r => r.ResourceKind == ResourceKind))
{
    <div @key="@resource" class="form-group row">
        <EntityResourceTranslatation Resource="resource" DeleteResource="OnDeleteResource" FieldExpression="() => resource.CultureId" />
    </div>
}
