@typeparam T
<div class="row">
    <div class="col d-flex">
        <span class="h5">@Text</span>
        <AuthorizeView Policy="Is4-Writer">
            <Authorized>
                <button type="button" class="btn btn-sm btn-primary ml-md-auto" @onclick="OnAddItenClicked">
                    <span class="oi oi-plus"></span> Add
                </button>
            </Authorized>
        </AuthorizeView>
    </div>
</div>
