@typeparam T
@inject IStringLocalizerAsync<EntitySubGridTitle<object>> Localizer

<div class="row">
    <div class="col d-flex">
        <span class="h5">@Text</span>
        <AuthorizeView Policy="@SharedConstants.WRITERPOLICY">
            <Authorized>
                <button type="button" class="btn btn-sm btn-primary ms-md-auto" @onclick="OnAddItenClicked">
                    <span class="oi oi-plus"></span> @Localizer["Add"]
                </button>
            </Authorized>
        </AuthorizeView>
    </div>
</div>
