@typeparam T
@inherits EntityResourcesComponentBase<T>

@foreach (var resource in Collection.Where(r => r.ResourceKind == ResourceKind))
{
    <div @key="@resource" class="mb-1 row">
        <EntityResourceTranslatation Resource="resource" DeleteResource="OnDeleteResource" />
    </div>
}
