@inject IStringLocalizerAsync<PageLoading> Localizer
<div class="row">
    <div class="col text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">@Localizer["Loading..."]</span>
        </div>
        @if (Information != null)
        {
            <div>
                <em class="text-secondary">@Localizer[Information]</em>
            </div>
        }
    </div>
</div>
