@* 
Project: Aguafrommars/TheIdServer
Copyright (c) 2021 @Olivier Lefebvre
*@
@inject IViewLocalizer Localizer

<div class="container">
    <div class="page-header">
        <h1>@Localizer["Access Denied"]</h1>
    </div>

    <p>@Localizer["You do not have access to that resource."]</p>
</div>