@typeparam T
<AuthorizeView Policy="Is4-Writer">
    <Authorized>
        <div class="btn-group">
            <InputText name="@Name" class="form-control" @bind-Value="_token.ValueString" />
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                @foreach (var kv in QuickValues)
                {
                    <button type="button" class="dropdown-item" @onclick="() => SetValue(kv.Value)">@kv.Key</button>
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        @_token.ValueString
    </NotAuthorized>
</AuthorizeView>

