@using System.Text.RegularExpressions
@typeparam T
<AuthorizeView Policy="Is4-Writer">
    <Authorized>
        <div class="btn-group">
            <InputText name="@Name" class="form-control" @bind-Value="_token.ValueString" />
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                @foreach (var kv in QuickValues)
                {
                    <button type="button" class="dropdown-item" @onclick="() => SetValue(kv.Value)">@kv.Key</button>
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        @_token.ValueString
    </NotAuthorized>
</AuthorizeView>


@code {
    private const string DISPLAY_FORMAT = @"d\.hh\:mm\:ss";
    private static Regex _regex = new Regex(Models.Token.RegulatExpression, RegexOptions.Compiled);
    private Token _token;
    private bool _updatingValue;

    [Parameter]
    public T Value { get; set; }

    [Parameter]
    public EventCallback<T> ValueChanged { get; set; }

    [Parameter]
    public IDictionary<string, TimeSpan?> QuickValues { get; set; }

    [Parameter]
    public string Name { get; set; }


    protected override void OnInitialized()
    {
        if (Value != null)
        {
            var timeSpan = TimeSpan.FromSeconds(Convert.ToInt32(Value));
            _token = new Token
            {
                ValueString = timeSpan.ToString(DISPLAY_FORMAT)
            };
        }
        else
        {
            _token = new Token();
        }

        _token.PropertyChanged += (s, e) =>
        {
            if (_updatingValue)
            {
                return;
            }

            var match = _regex.Match(_token.ValueString);
            if (!match.Success)
            {
                return;
            }

            var groups = match.Groups;
            if (groups["DaysTime"].Success || groups["Time"].Success)
            {
                var newTimeSpan = TimeSpan.Parse(_token.ValueString);
                SetValue(newTimeSpan);
                return;
            }
            else if (groups["MinutesSecondes"].Success)
            {
                var newTimeSpan = TimeSpan.Parse($"00:{_token.ValueString}");
                SetValue(newTimeSpan);
                return;
            }
            else if (groups["Days"].Success)
            {
                var newTimeSpan = TimeSpan.FromDays(int.Parse(_token.ValueString.Substring(0, _token.ValueString.Length - 1)));
                SetValue(newTimeSpan);
                return;
            }
            else if (groups["Hours"].Success)
            {
                var newTimeSpan = TimeSpan.FromHours(int.Parse(_token.ValueString.Substring(0, _token.ValueString.Length - 1)));
                SetValue(newTimeSpan);
                return;
            }
            else if (groups["Minutes"].Success)
            {
                var newTimeSpan = TimeSpan.FromMinutes(int.Parse(_token.ValueString.Substring(0, _token.ValueString.Length - 1)));
                SetValue(newTimeSpan);
                return;
            }
            else if (_token.ValueString.EndsWith("s"))
            {
                var newTimeSpan = TimeSpan.FromSeconds(int.Parse(_token.ValueString.Substring(0, _token.ValueString.Length - 1)));
                SetValue(newTimeSpan);
                return;
            }
            else
            {
                var newTimeSpan = TimeSpan.FromSeconds(int.Parse(_token.ValueString));
                SetValue(newTimeSpan);
            }
        };
        base.OnInitialized();
    }


    private void SetValue(TimeSpan? time)
    {
        _updatingValue = true;

        if (!time.HasValue)
        {
            Value = default;
            ValueChanged.InvokeAsync(Value);
            _token.ValueString = null;
        }
        else
        {
            var timeValue = time.Value;
            Value = (T)Convert.ChangeType(timeValue.TotalSeconds, typeof(T));
            ValueChanged.InvokeAsync(Value);
            _updatingValue = true;
            _token.ValueString = timeValue.ToString(DISPLAY_FORMAT);
        }

        StateHasChanged();
        _updatingValue = false;
    }
}
