@using  Aguacongas.IdentityServer.Store
@using  System.Threading
@inherits AutoCompleteModel<Entity.IClaimType>
@inject IAdminStore<Entity.IdentityClaim> _store

@if (IsReadOnly)
{
    <div class="input-group input-group-sm mb-3">
        <div class="form-control" disabled>@Entity.Type</div>
        <div class="input-group-append select" @onclick="() => DeleteClicked.InvokeAsync(null)">
            <span class="input-group-text oi oi-trash" />
        </div>
    </div>
}
else
{
    <div id="@Id" class="input-group input-group-sm mb-3" data-toggle="dropdown">
        <input type="text" class="form-control new-claim" placeholder="claim type" value="@SelectedValue"
               @oninput="OnInputChanged" />
        <div class="input-group-append">
            <span class="input-group-text oi oi-plus" />
        </div>
    </div>
    <div class="dropdown-menu m-0">
        @if (FilteredValues != null)
        {
            foreach (var value in FilteredValues)
            {
                <button class="dropdown-item m-0 p-0 pl-1 pr-1" type="button" @onclick="() => SetSelectedValue(value)"><small>@value</small></button>
            }
        }
    </div>
}

@code {
    private readonly PageRequest _pageRequest = new PageRequest
    {
        Select = "Type",
        Take = 5
    };

    protected override bool IsReadOnly => !string.IsNullOrEmpty(Entity.Type);

    protected override async Task<IEnumerable<string>> GetFilteredValues(string value)
    {
        _pageRequest.Filter = $"contains(Type,'{value}')";
        var response = await _store.GetAsync(_pageRequest)
            .ConfigureAwait(false);

        return response.Items.Select(c => c.Type);
    }

    protected override void SetValue(string value)
    {
        Entity.Type = value;
    }
}
