<div class="row">
    <div class="col">
        <div class="row">
            <h5 class="col">@Text</h5>
            <div class="col">
                <button type="button" class="btn btn-sm btn-primary" @onclick="() => AddClicked.InvokeAsync(null)">
                    <span class="oi oi-plus"></span> Add
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public EventCallback<string> FilterChanged { get; set; }

    [Parameter]
    public EventCallback AddClicked { get; set; }
}
