<div class="row">
    <div class="col d-flex">
        <span class="h5">@Text</span>
        <button type="button" class="btn btn-sm btn-primary ml-md-auto" @onclick="() => AddClicked.InvokeAsync(null)">
            <span class="oi oi-plus"></span> Add
        </button>
    </div>
</div>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public EventCallback AddClicked { get; set; }
}
