@inject GridState _gridState

<div @onclick="OnHeaderClick">@HeaderName<span class="oi oi-arrow-@_class float-right sort" /></div>

@code {
    private string _class = null;

    [Parameter]
    public string PropertyName { get; set; }

    [Parameter]
    public string HeaderName { get; set; }


    void OnHeaderClick()
    {
        _gridState.HeaderClicked(PropertyName);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _gridState.OnHeaderClicked += e =>
        {
            _class = _gridState.GetHeaderArrowClassSuffix(PropertyName);
            StateHasChanged();
            return Task.CompletedTask;
        };
    }
}
