@inject IStringLocalizerAsync<ClientIdpRestrictions> Localizer
<div class="row">
    <div class="col">
        <ul class="list-inline">
            @foreach (var provider in Model.IdentityProviderRestrictions)
            {
                <li @key="@provider" class="list-inline-item">
                    <IdentityProvider Entity="@provider"
                                      DeleteClicked="() => OnProviderDeletedClicked(provider)"
                                      ValueChanged="() => OnProviderValueChanged(provider)" />
                </li>
            }
        </ul>
        <AuthorizeCheckbox Label="@Localizer["enable local login"]" @bind-Value="@Model.EnableLocalLogin" />
    </div>
</div>
