<div class="row">
    <div class="col">
        <ul class="list-inline">
            @foreach (var claim in Claims)
            {
                <li class="list-inline-item">
                    <ClaimType Entity="@claim"
                               DeleteClicked="() => OnClaimDeletedClicked(claim)" />
                </li>
            }
            <ClaimType Entity="@_claim"
                       ValueChanged="() => OnClaimValueChanged(_claim)" />
        </ul>
    </div>
</div>
