@inherits  EntitesGridModel<Entity.UserLogin>

<EntitiesGrid Items="@Collection" TableClass="table table-hover" Context="login">
    <TableHeader>
        <th scope="col">
            <SortableHeader Property="ProviderDisplayName"
                            Text="provider"
                            GridState="GridState" />
        </th>
        <th scope="col">
            <SortableHeader Property="ProviderKey"
                            Text="key"
                            GridState="GridState" />
        </th>
        <th>
            <SortableHeader Property="Value"
                            Text="create at"
                            GridState="GridState" />
        </th>
        <th></th>
    </TableHeader>
    <RowTemplate>
        <td>
            @login.ProviderDisplayName
        </td>
        <td>
            @login.ProviderKey
        </td>
        <td>
            <AuthorizeButton Type="button" CssSubClass="btn-primary" Clicked="() => OnDeleteEntityClicked(login)">
                <span class="oi oi-trash"></span>
            </AuthorizeButton>
        </td>
    </RowTemplate>
</EntitiesGrid>
