@inject Notifier _notifier

<div class="row">
    <div class="col">
        <ul class="list-inline">
            @foreach (var claim in Model.ApiClaims)
            {
                <li class="list-inline-item">
                    <ClaimType Entity="@claim"
                               DeleteClicked="() => DeleteClaimClicked.InvokeAsync(claim)"
                               ValueChanged="() => ClaimValueChanged.InvokeAsync(claim)" />
                </li>
            }
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public Entity.ProtectResource Model { get; set; }

    [Parameter]
    public EventCallback<Entity.ApiClaim> DeleteClaimClicked { get; set; }

    [Parameter]
    public EventCallback<Entity.ApiClaim> ClaimValueChanged { get; set; }

    private bool Validate(string claimType)
    {
        if (Model.ApiClaims.Any(c => c.Type == claimType))
        {
            _notifier.Notify(new Notification
            {
                Header = "Invalid claim type",
                IsError = true,
                Message = $"This API already contains the claim type {claimType}"
            });
            return false;
        }
        return true;
    }
}
