<div class="row">
    <div class="col">
        <ul class="list-inline">
            @foreach (var claim in Model.ApiClaims)
            {
                <li class="list-inline-item">
                    <ClaimType Entity="@claim"
                               Validate="Validate"
                               DeleteClicked="() => DeleteClaimClicked.InvokeAsync(claim)"
                               ValueChanged="() => ClaimValueChanged.InvokeAsync(claim)" />
                </li>
            }
        </ul>
    </div>
</div>
