@inherits ApiEntitesGridModel<Entity.ApiProperty>

<EntitiesGrid Items="@Collection" TableClass="table table-hover" Context="property">
    <TableHeader>
        <th scope="col">
            <SortableHeader Property="Key"
                            Text="key"
                            GridState="GridState" />
        </th>
        <th scope="col">
            <SortableHeader Property="Value"
                            Text="value"
                            GridState="GridState" />
        </th>
        <th></th>
    </TableHeader>
    <RowTemplate>
        @if (property.Id != null)
        {
            <td>
                @property.Key
            </td>
        }
        else
        {
            <td>
                <AuthorizeText Id="key" @bind-Value="@property.Key" MaxLength="250" />
            </td>
        }
        <td>
            <AuthorizeText Id="value" @bind-Value="@property.Value" MaxLength="2000" />
        </td>
        <td>
            <AuthorizeButton CssSubClass="btn-primary" Clicked="() => OnDeleteEntityClicked(property)">
                <span class="oi oi-trash"></span>
            </AuthorizeButton>
        </td>
    </RowTemplate>
</EntitiesGrid>
