<ul class="list-inline">
    @foreach (var claim in Model.ApiScopeClaims)
    {
        <li class="list-inline-item">
            <ClaimType Entity="@claim"
                       DeleteClicked="() => OnDeleteClaimClicked(claim)"
                       ValueChanged="() => OnClaimValueChanged(claim)" />
        </li>
    }
</ul>
