<ul class="list-inline">
    @foreach (var claim in Scope.ApiScopeClaims)
    {
        <li class="list-inline-item">
            <ClaimType Entity="@claim"
                       DeleteClicked="() => DeleteClaimClicked.InvokeAsync(claim)"
                       ValueChanged="() => ClaimValueChanged.InvokeAsync(claim)" />
        </li>
    }
</ul>
