@using Aguacongas.Blazor.Oidc
@inject OidcAuthenticationStateProvider _provider;

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <h3>Sorry</h3>
                <p>You're not authorized to reach this page.</p>
                <p>You may need to log in as a different user.</p>
            </NotAuthorized>
            <Authorizing>
                <h3>Authentication in progress</h3>
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
@code {    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var state = await _provider.GetAuthenticationStateAsync();

        var user = state.User;
        if (!user.Identity.IsAuthenticated)
        {
            await _provider.LoginAsync();
        }
    }
}