<div class="row">
    <div class="col">
        <ul class="list-inline">
            @foreach (var provider in Model.IdentityProviderRestrictions)
            {
                <li class="list-inline-item">
                    <IdentityProvider Entity="@provider"
                               DeleteClicked="() => ProviderDeletedClicked.InvokeAsync(provider)"
                               ValueChanged="() => ProviderValueChanged.InvokeAsync(provider)" />
                </li>
            }
        </ul>
        <AuthorizeCheckbox Label="enable local login" @bind-Value="@Model.EnableLocalLogin" />
    </div>
</div>

@code {
    [Parameter]
    public Entity.Client Model { get; set; }

    [Parameter]
    public EventCallback<Entity.ClientIdpRestriction> ProviderDeletedClicked { get; set; }

    [Parameter]
    public EventCallback<Entity.ClientIdpRestriction> ProviderValueChanged { get; set; }
}
