@inject Notifier _notifier

<div class="row">
    <div class="col">
        <ul class="list-inline">
            @foreach (var grantType in Model.AllowedGrantTypes)
            {
                <li class="list-inline-item">
                    <GrantType Entity="@grantType"
                               Model="@Model"
                               Validate="Validate"
                               DeleteClicked="() => GrantTypeDeletedClicked.InvokeAsync(grantType)"
                               ValueChanged="() => GrantTypeValueChanged.InvokeAsync(grantType)" />
                </li>
            }
        </ul>
    </div>
</div>
