@inject Notifier _notifier

<div class="row">
    <div class="col">
        <ul class="list-inline">
            @foreach (var claim in Model.ApiClaims)
            {
                <li class="list-inline-item">
                    <ClaimType @key="claim" Entity="@claim"
                               DeleteClicked="() => OnDeleteClaimClicked(claim)"
                               ValueChanged="() => OnClaimValueChanged(claim)" />
                </li>
            }
        </ul>
    </div>
</div>
