@* 
    -----------------------------------------------------------------------------
    Project: Aguafrommars/TheIdServer
    Copyright (c) 2025 @Olivier Lefebvre
    File: Success.cshtml
    Description: 
        This Razor Page displays a success message after a device has been authorized.
        It uses IViewLocalizer to provide localized strings for the UI.
        The page header contains a localized title and subtitle indicating successful authorization.
    -----------------------------------------------------------------------------
*@

@inject IViewLocalizer Localizer

<div class="page-header">
    <h1>
        @Localizer["Success"]
        <small>@Localizer["You have successfully authorized the device"]</small>
    </h1>
</div>