@* 
    -----------------------------------------------------------------------------
    Project: Aguafrommars/TheIdServer
    Copyright (c) 2025 @Olivier Lefebvre

    File: Redirect.cshtml
    Purpose: 
        This Razor view is responsible for handling user redirection after a 
        sign-in or authentication process. It displays a localized message 
        informing the user that they are being returned to the application, and 
        provides instructions to close the tab once complete. The view uses a 
        meta refresh tag and a JavaScript file to perform the redirect to the 
        specified URL.

    Model:
        RedirectViewModel - Contains the RedirectUrl property used for redirection.

    Localization:
        Uses IViewLocalizer to provide localized messages.

    Usage:
        This view is typically rendered after a successful authentication or 
        sign-in event, redirecting the user back to the client application.
    -----------------------------------------------------------------------------
*@

@inject IViewLocalizer Localizer

@model RedirectViewModel

<h1>@Localizer["You are now being returned to the application."]</h1>
<p>@Localizer["Once complete, you may close this tab"]</p>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
<script src="~/js/signin-redirect.js"></script>
