@page "/clients"
@inherits EntitiesModel<Entity.Client>

<div class="row sticky-top">
    <div class="col">
        <PageListHeader Name="Clients" Url="client"></PageListHeader>
    </div>
    <div class="col">
        <Filter TermChanged="OnFilterChanged" />
    </div>
</div>
<div class="row">
    @if (EntityList == null)
    {
        <div class="w-100"></div>
        <p class="col"><em>Loading...</em></p>
    }
    else
    {
        <EntitiesGrid Items="EntityList" TableClass="table sticky-top">
            <TableHeader>
                <th class="w-25" scope="col">
                    <SortableHeader Property="Id"
                                    Text="id"
                                    GridState="GridState" />
                </th>
                <th class="w-75" scope="col">
                    <SortableHeader Property="ClientName"
                                    Text="name"
                                    GridState="GridState" />
                </th>
            </TableHeader>
        </EntitiesGrid>
        <EntitiesGrid Items="EntityList" TableClass="table table-hover"
                      RowClicked="(Entity.Client item) => OnRowClicked(item)">
            <RowTemplate>
                <td class="w-25">@context.Id</td>
                <td class="w-75">
                    @context.ClientName
                    <div><em>@context.Description</em></div>
                </td>
            </RowTemplate>
        </EntitiesGrid>
    }
</div>
@code {
    protected override string SelectProperties => "Id,ClientName,Description";
}

