@page "/clients"
@inherits EntityModel<Entity.Client>

<h1>Clients</h1>

@if (EntityList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th><SortableHeader PropertyName="Id" HeaderName="id" /></th>
                <th><SortableHeader PropertyName="ClientName" HeaderName="name" /></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in EntityList)
            {
                <tr>
                    <td>@client.Id</td>
                    <td>
                        @client.ClientName
                        <div><em>@client.Description</em></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    protected override string SelectProperties => "Id, ClientName, Description";
}

