@page "/identities"
@inherits EntityModel<Entity.IdentityResource>

<div class="row sticky-top">
    <div class="col">
        <h3>Identities</h3>
    </div>
    <div class="col">
        <Filter TermChanged="OnFilterChanged" />
    </div>
</div>
<div class="row">
    @if (EntityList == null)
    {
        <div class="w-100"></div>
        <p class="col"><em>Loading...</em></p>
    }
    else
    {
        <table class="table sticky-top">
            <thead>
                <tr class="select">
                    <th scope="col"><SortableHeader PropertyName="Id" HeaderName="id" /></th>
                    <th scope="col"><SortableHeader PropertyName="ClientName" HeaderName="name" /></th>
                </tr>
            </thead>
        </table>
        <table class="table table-hover">
            <tbody>
                @foreach (var entity in EntityList)
                {
                    <tr class="select" @onclick="() => OnRowClicked(entity.Id)">
                        <td class="w-25">@entity.Id</td>
                        <td class="w-75">
                            @entity.DisplayName
                            <div><em>@entity.Description</em></div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@code {
    protected override string SelectProperties => "Id,DisplayName,Description";
}

