@page "/"
@page "/home"

<h1>Welcome</h1>
<p>
    This application manage your <a href="https://identityserver4.readthedocs.io/en/latest/">IdentityServer4</a>.
</p>
<p>
    Visit the <a href="https://github.com/aguacongas/TheIdServer">github site</a> for doc and source code.
</p>
