@page "/"
@page "/home"

<h1>Welcome </h1>

<AuthorizeView>
    <Authorized>
        @context.User.Identity.Name!
    </Authorized>
    <NotAuthorized>
        You are redirecting to the login page.
    </NotAuthorized>
</AuthorizeView>
