@inherits  EntitesGridModel<Entity.UserToken>

<EntitiesGrid Items="@Collection" TableClass="table table-hover" Context="token">
    <TableHeader>
        <th scope="col">
            <SortableHeader Property="LoginProvider"
                            Text="provider"
                            GridState="GridState" />
        </th>
        <th scope="col">
            <SortableHeader Property="Name"
                            Text="name"
                            GridState="GridState" />
        </th>
        <th>
            <SortableHeader Property="Value"
                            Text="value"
                            GridState="GridState" />
        </th>
        <th></th>
    </TableHeader>
    <RowTemplate>
        <td>
            @token.LoginProvider
        </td>
        <td>
            @token.Name
        </td>
        <td>
            @token.Value
        </td>
        <td>
            <AuthorizeButton Type="button" CssSubClass="btn-primary" Clicked="() => OnDeleteEntityClicked(token)">
                <span class="oi oi-trash"></span>
            </AuthorizeButton>
        </td>
    </RowTemplate>
</EntitiesGrid>
