<div class="row">
    <div class="col">
        <ul class="list-inline">
            @foreach (var role in Collection)
            {
                <li @key="@role" class="list-inline-item">
                    <UserRole Entity="@role"
                              DeleteClicked="() => OnDeleteRoleClicked(role)" />
                </li>
            }
            <li @key="@_role" class="list-inline-item">
                <UserRole Entity="@_role"
                          ValueChanged="() => OnRoleValueChanged(_role)" />
            </li>
        </ul>
    </div>
</div>
