<div class="row">
    <div class="col">
        <ul class="list-inline">
            @foreach (var role in Collection)
            {
                <li class="list-inline-item">
                    <UserRole @bind-Value="@role.Name" Entity="@role"
                              DeleteClicked="() => OnDeleteRoleClicked(role)" />
                </li>
            }
            <li class="list-inline-item">
                <UserRole @bind-Value="@_role.Name" Entity="@_role"
                          EntityChanged="() => OnRoleValueChanged(_role)" />
            </li>
        </ul>
    </div>
</div>
