@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

span.input-group-text.oi {
    top: 0;
}

.resource {
    margin-left: -0.9rem;
}

.select {
    cursor: pointer;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.sidebar .top-row {
    background-color: #e6e6e6;
    border-bottom: 1px solid #969595;
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #373737;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(0,0,0,0.25);
            color: black;
        }

        .nav-item a:hover {
            background-color: rgba(0,0,0,0.1);
            color: black;
        }

.nav-text {
    font-size: 0.9rem;
    color: #969595;
}
.content {
    padding-top: 1.1rem;
}

.sticky-top {
    padding-top: 0.5rem;
    margin-top: -0.5rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.sort {
    position: inherit;
}

.entity-details {
    display: contents;
}

.form-control.new-claim {
    width: 50px;
}

.toaster {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 2000;
}

    .toaster .toast-list {
        position: absolute;
        min-width: 200px;
        top: 0;
        right: 0;
    }

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
        .main .top-row.auth {
            justify-content: space-between;
        }

        .main .top-row a, .main .top-row .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .main {
        border-left: 1px solid #d6d5d5;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}