@* 
Project: Aguafrommars/TheIdServer
Copyright (c) 2023 @Olivier Lefebvre
*@
@page
@inject IViewLocalizer Localizer
@model ConfirmEmailChangeModel
@{
    @inject IViewLocalizer Localizer
    ViewData["Title"] = Localizer["Confirm email change"];
}

<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="Model.StatusMessage" />