@* 
Project: Aguafrommars/TheIdServer
Copyright (c) 2022 @Olivier Lefebvre
*@
@page
@inject IViewLocalizer Localizer
@model ForgotPasswordModel
@{
    ViewData["Title"] = Localizer["Forgot your password?"];
}

<h2>@ViewData["Title"]</h2>
<h4>@Localizer["Enter your email."]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Input.ReturnUrl" type="hidden" />
            <div class="form-floating mb-2">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn btn-primary">@Localizer["Submit"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
