@* 
Project: Aguafrommars/TheIdServer
Copyright (c) 2021 @Olivier Lefebvre
*@
@page
@inject IViewLocalizer Localizer
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = Localizer["Recovery code verification"];
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>
    @Localizer["You have requested to log in with a recovery code. This login will not be remembered until you provide an authenticator app code at log in or disable 2FA and log in again."]
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                <label asp-for="Input.RecoveryCode" class="form-label"></label>
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@Localizer["Log in"]</button>
</form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}