@* 
Project: Aguafrommars/TheIdServer
Copyright (c) 2021 @Olivier Lefebvre
*@
@page
@inject IViewLocalizer Localizer
@model RegisterConfirmationModel
@{
    ViewData["Title"] = Localizer["Register confirmation"];
}

<h2>@ViewData["Title"]</h2>
@{
    <p>
        @Localizer["Please check your email to confirm your account."]
    </p>
}
