@* 
Project: Aguafrommars/TheIdServer
Copyright (c) 2022 @Olivier Lefebvre
*@
@page
@inject IViewLocalizer Localizer
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = Localizer["Reset password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["Your password has been reset."] <a href="@Model.ReturnUrl">@Localizer["Please click here to log in"]</a>.
</p>
