# Update all depencies each days if needed

name: Check Dependencies

# Controls when the action will run.
on:
  # Triggers the workflow at 02:00 each days
  schedule:
    - cron: '0 2 * * *'
  # allow to launch the job manually
  workflow_dispatch:  

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checkout the branch fix/dependencies with the PAT 
      - uses: actions/checkout@v2
        with:
          ref: fix/dependencies
          token: ${{ secrets.PAT }}
          fetch-depth: 0
      - name: Merge master
        run: | 
          git config user.name github-actions
          git config user.email github-actions@github.com
          git merge origin/master --allow-unrelated-histories
      # Setup .NET Core SDK
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1.6.0
      # Run update depencies script
      - name: Update dependencies
        run: ./update-dependencies.ps1
        env: 	
          GITHUB_TOKEN: ${{ secrets.PAT }}
